@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "RobotoMono";
  src: url('/fonts/RobotoMono-Regular.ttf');
}

html {
  font-family: 'Arial, Sans-Serif';
  font-size: 62.5%;
}
